/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    overflow-x: hidden;
}
ol, ul,li {
    list-style: none;
    
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}



/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

}



section.menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    }

    .menu__header {
   /* display: flex;*/
    align-items: center;
    gap: 0.5rem;
    color: var(--highlight-color);
    } 

    .menu nav {
    /*display: flex;*/
    justify-content: space-evenly;
    align-items: center;
    }

    .menu__list {
    /*display: none;*/
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    }

    .menu__list__item-c{
        display: none;
    }



/*Sección Title*/
   section.title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    }

    
     .title__div{
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-items: flex-end;
        width: 1132px;
        height: 368px;
    }

    .title__container{
        width: 751px;
        height: 246px;
        gap: 24px;

    }

    .title__profile img{
        display: flex;
        justify-content: flex-end;
        padding-right: 15px;
        width: 368px;
        height: 368px;
    
      
    }

    .title__dive h2{
        width: 751px;
        height: 122px;
        font-family: sans-serif;
        font-weight: 700;
        font-size: 52px;
        line-height: 61px;
        color: #464646;

    }

    .title__dive h3{
        width: 751px;
        height: 52px;
        font-family: sans-serif;
        font-weight: 400;
        font-size: 22px;
        line-height: 25px;
        font-style: normal;
        background-color: #464646;
        }

   

    .title__network{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 4px
    }

/*Sección About*/

section.about{

    .about__container{
        width: 1440px;
        height: 383px;
        padding: 64px;
        gap: 10px;
        background: #EAF2FD;
    }

    .about__title{
        width: 137px;
        height: 38px;
        font-family: Raleway;
        font-size: 32px;
        font-weight: 700;
        line-height: 37.57px;
        text-align: left;
    }

}

/*Sección Hobbies*/

section.skills{

    
    .skills__title{
        display: flex;
        justify-content: center;
        font-family: raleway;
        font-weight: 700;
        font-size: 32px;
        line-height: 37px;
    }

    .skills__line{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

/* Experiencia Académica*/

section.hobbies{

    
    .hobbies__title{
        display: flex;
        justify-content: center;    
        font-family: raleway;
        font-weight: 700;
        font-size: 32px;
        line-height: 37px;
    }

    .hobbies__line{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

/* experiencia*/

section.academic{

    background: #EAF2FD;

    .academic__title{
    display: flex;
    justify-content: center;

   }

    .academic__courses{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

}

section.experience{

    .experiencie__box{
        display: flex;
        flex-direction: row;
        align-items: center; 

        width: 1136px;
        height: 1886px;
        gap: 32px;
    }

    .experience__section__title{
    
        width: 364px;
        height: 38px;
        align-items: center;
        padding-left: 41%;

    }

    .experiencie__box{
        /*display: flex;*/
        width: 1136px;
        height: 406px;
        gap: 16px;
        padding-bottom: 5%;
    }

    .experience__info{
        width: 368px;
        height: 112px;
        gap: 8px;
    }

    .experience__description{
        width: 368px;
        height: 112px;
        gap: 8px;
    }

    .experience__description h2{
        width: 368px;
        height: 26px;

        font-family: raleway;
        font-weight: 700;
        font-size: 22px;
        line-height: 25.83px;
    }

    .experience__description h3{
        width: 368px;
        height: 19px;

        font-family: raleway;
        font-weight: 500;
        font-size: 16px;
        line-height: 18.78px;
    }

   .experiencie__box:nth-child(2),
   .experiencie__box:nth-child(4){
   display: flex;
   flex-flow: row-reverse;
    
   }

    .experiencia__botao--repo{
        border: 1px solid #2A7AE4;   
    }
    .experiencia__botao--repo:hover{
        background-color: #2A7AE4;  
    }
}

/*Contacto*/

section.formcontato{

   background-color: aliceblue ;

    .formcontato__contacto{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }

    .formcontato--esquerda{
        flex: 1;
    }

    .formcontato__img{
        width: 464px;
        height: 593px;
    }

    .formcontato__text {
        text-align: left;
        padding: 0 20px;
    }
    
    .formcontato__title {
        
        background: white;
        font-size: 32px;
        margin-bottom: 20px;
    }
    
    .formcontato__subtext {
        color: #666;
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    .formcontato__form {
        margin-top: 20px;
    }
    
    .formcontato__input,
    .formcontato__textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box; /* para incluir el relleno en el ancho total */
    }
    
    .formcontato__textarea {
        resize: none;
    }
    
    .formcontato__botao {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        font-size: 16px;
        transition: background-color 0.3s;
    }
    
    .formcontato__botao:hover {
        background-color: #45a049;
    }
}

/*footeer*/

section.footer{
    .footer {
        display: flex;
        justify-content: center;
    }
    
    /* Estilos para el contenido del pie de página */
   .footer__rodape{
   
   align-content: center;
   background: url(assets/AdobeStock_712785350_Preview.jpeg);
   padding: 40px;
   }

}


/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (max-width: 960px) {

/* Menú */
section.menu{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    }

    .menu__header {
   display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--highlight-color);
    } 

    .menu nav {
    display: flex;
    /*justify-content: space-evenly;*/
    align-items: center;
    }

    .menu__list {
    display: none;
    }
/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}